# git+https://github.com/Rapptz/discord.py
discord.py @ git+https://github.com/DA-344/d.py@42bd21a7008ebce2de644b8941ece0c4468eeb2a
git+https://github.com/Gorialis/jishaku
asyncpg
tabulate
psutil
python-dotenv
matplotlib
scipy
numpy
ormsgpack
Pillow
better_exceptions
# Webserver dependencies (should move to separate microprocess)
better-ipc
aiohttp_cors
aiohttp-ratelimiter
stripe